/** 
 * Style for javascript debugger.  See debugger.html.
 */

html,body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
#output {
  font-family: monospace;
  background-color: #ffffff;
  min-height: 100%;
}
#outer {
  height: 100%;
  width: 100%;
  white-space: pre-wrap;
  padding: 0px 0px 24px 0px;
}
#command-line {
  bottom: 0px;
  /* not quite sure why this 5px is necessary */
  right: 5px;
  left: 0px;
  position: fixed;
  padding: 0px;
  margin: 0px;
}
#command-line-text {
  height: 20px;
  display: block;
  width: 100%;
  font-family: monospace;
}
