Source: google-o3d
Section: non-free/web
Priority: optional
Maintainer: Tristan Schmelcher <tschmelcher@google.com>
Build-Depends: debhelper (>= 4.0.0), cdbs (>=0.4.34ubuntu4)
Standards-Version: 3.7.2

Package: google-o3d
Architecture: amd64
Depends: ia32-libs, libc6-i386, lib32stdc++6, lib32gcc1, lib32z1, nspluginwrapper
Description: Google O3D Plugin
 O3D is an open-source web API for creating rich, interactive 3D applications in
 the browser.
 .
 This package provides the NPAPI browser plugin for running O3D-based web apps.
