*.user
*.mk
*.ncb
*.pyc
*.suo
*.scons
*.xcodeproj
SConstruct
/testserver.log
/breakpad/src/
/chrome/app/theme/google_chrome/
/chrome/test/data/
/chrome/Hammer
/chrome/Debug
/chrome/Release
/data/
/googleurl/
/out/
/rlz/binaries/
/sdch/open-vcdiff/
/testing/gtest/
/third_party/GTM/
/third_party/WebKit/
/third_party/ffmpeg/binaries/
/third_party/googlemac/
/third_party/icu38/
/third_party/pdfsqueeze/
/third_party/skia/
/third_party/tcmalloc/tcmalloc/
/tools/grit/grit/test/data/
/tools/gyp/
/tools/tryserver/
/v8/
webkit/data/bmp_decoder/
webkit/data/ico_decoder/
webkit/data/layout_tests/LayoutTests/
webkit/data/test_shell/plugins/
webkit/data/xbm_decoder/
/xcodebuild/