*.mk
*.ncb
*.pyc
*.scons
*.suo
*.user
*.xcodeproj
/Makefile
/breakpad/src/
/chrome/Debug
/chrome/Hammer
/chrome/Release
/chrome/app/theme/google_chrome/
/chrome/installer/linux/
/chrome/test/data/
/data/
/googleurl/
/out/
/rlz/binaries/
/sconsbuild
/sdch/open-vcdiff/
/testing/gtest/
/testserver.log
/third_party/GTM/
/third_party/WebKit/
/third_party/ffmpeg/binaries/
/third_party/googlemac/
/third_party/icu38/
/third_party/pdfsqueeze/
/third_party/skia/
/third_party/tcmalloc/tcmalloc/
/tools/distcc/
/tools/grit/grit/test/data/
/tools/gyp/
/tools/tryserver/
/v8/
/webkit/Debug/
/webkit/Release/
/webkit/data/bmp_decoder/
/webkit/data/ico_decoder/
/webkit/data/layout_tests/LayoutTests/
/webkit/data/test_shell/plugins/
/webkit/data/xbm_decoder/
/xcodebuild/
SConstruct
