// Resources used by renderer/*.
//
// Paths in this file are relative to SolutionDir.

#ifdef APSTUDIO_INVOKED
  #error // Don't open in the Visual Studio resource editor!
#endif //APSTUDIO_INVOKED

#include "renderer\\renderer_resources.h"

/////////////////////////////////////////////////////////////////////////////
//
// data resources
//

IDR_NET_ERROR_HTML       BINDATA       "renderer\\resources\\neterror.html"
IDR_INSECURE_CONTENT_STAMP BINDATA     "renderer\\resources\\insecure_content_stamp.png"
IDR_ERROR_NO_DETAILS_HTML  BINDATA     "renderer\\resources\\error_no_details.html"
IDR_GREASEMONKEY_API_JS    BINDATA     "renderer\\resources\\greasemonkey_api.js"
