// Resources used by browser/debugger/*.
//
// Paths in this file are relative to SolutionDir.

#ifdef APSTUDIO_INVOKED
  #error // Don't open in the Visual Studio resource editor!
#endif //APSTUDIO_INVOKED

#include "browser\\debugger\\resources\\debugger_resources.h"

/////////////////////////////////////////////////////////////////////////////
//
// data resources
//

IDR_DEBUGGER_SHELL_JS        BINDATA   "browser\\debugger\\resources\\debugger_shell.js"
IDR_DEBUGGER_HTML            BINDATA   "browser\\debugger\\resources\\debugger.html"
IDR_DEBUGGER_CSS             BINDATA   "browser\\debugger\\resources\\debugger.css"
IDR_DEBUGGER_JS              BINDATA   "browser\\debugger\\resources\\debugger.js"
