// Resources used by browser/*.
//
// Paths in this file are relative to SolutionDir.

#ifdef APSTUDIO_INVOKED
  #error // Don't open in the Visual Studio resource editor!
#endif //APSTUDIO_INVOKED

#include "browser\\browser_resources.h"

#ifdef CHROME_PERSONALIZATION
#include "chrome\\personalization\\personalization_resources.rc"
#endif


/////////////////////////////////////////////////////////////////////////////
//
// data resources
//

IDR_ABOUT_PLUGINS_HTML       BINDATA   "browser\\resources\\about_plugins.html"
IDR_ABOUT_VERSION_HTML       BINDATA   "browser_resources\\about_version_flat.html"
IDR_ABOUT_MEMORY_HTML        BINDATA   "browser_resources\\about_memory_flat.html"
IDR_ABOUT_STATS_HTML         BINDATA   "browser\\resources\\about_stats.html"
IDR_SSL_ROAD_BLOCK_HTML      BINDATA   "browser_resources\\ssl_roadblock_flat.html"
IDR_SSL_ERROR_HTML           BINDATA   "browser_resources\\ssl_error_flat.html"
IDR_NEW_TAB_HTML             BINDATA   "browser_resources\\new_tab_flat.html"
IDR_SAFE_BROWSING_MALWARE_BLOCK      BINDATA   "browser_resources\\safe_browsing_malware_block_flat.html"
IDR_SAFE_BROWSING_PHISHING_BLOCK     BINDATA   "browser_resources\\safe_browsing_phishing_block_flat.html"
IDR_SAFE_BROWSING_MULTIPLE_THREAT_BLOCK     BINDATA   "browser_resources\\safe_browsing_multiple_threat_block_flat.html"
IDR_INCOGNITO_TAB_HTML       BINDATA   "browser_resources\\incognito_tab_flat.html"
IDR_CREDITS_HTML             BINDATA   "browser_resources\\about_credits_flat.html"
IDR_HISTORY_HTML             BINDATA   "browser_resources\\history_flat.html"