// Resources used by webkit/*.
//
// Paths in this file are relative to SolutionDir.

#ifdef APSTUDIO_INVOKED
  #error // Don't open in the Visual Studio resource editor!
#endif //APSTUDIO_INVOKED

#include <winuser.h>
#include "webkit\\glue\\webkit_resources.h"

/////////////////////////////////////////////////////////////////////////////
//
// data resources
//

IDR_BROKENIMAGE            BINDATA "webkit\\glue\\resources\\broken-image.gif"
IDR_TICKMARK_DASH          BINDATA "webkit\\glue\\resources\\dash.png"
IDR_FEED_PREVIEW           BINDATA "webkit\\glue\\resources\\feed.html"
IDR_PAN_SCROLL_ICON        BINDATA "webkit\\glue\\resources\\pan_icon.png"
IDR_TEXTAREA_RESIZER       BINDATA "webkit\\glue\\resources\\textarea_resize_corner.png"

/////////////////////////////////////////////////////////////////////////////
//
// Cursor
//
IDC_ALIAS               CURSOR    "webkit\\glue\\resources\\aliasb.cur"
IDC_CELL                CURSOR    "webkit\\glue\\resources\\cell.cur"
IDC_COLRESIZE           CURSOR    "webkit\\glue\\resources\\col_resize.cur"
IDC_COPYCUR             CURSOR    "webkit\\glue\\resources\\copy.cur"
IDC_ROWRESIZE           CURSOR    "webkit\\glue\\resources\\row_resize.cur"
IDC_VERTICALTEXT        CURSOR    "webkit\\glue\\resources\\vertical_text.cur"
IDC_ZOOMIN              CURSOR    "webkit\\glue\\resources\\zoom_in.cur"
IDC_ZOOMOUT             CURSOR    "webkit\\glue\\resources\\zoom_out.cur"
IDC_PAN_MIDDLE          CURSOR    "webkit\\glue\\resources\\pan_middle.cur"
IDC_PAN_NORTH           CURSOR    "webkit\\glue\\resources\\pan_north.cur"
IDC_PAN_NORTH_EAST      CURSOR    "webkit\\glue\\resources\\pan_north_east.cur"
IDC_PAN_EAST            CURSOR    "webkit\\glue\\resources\\pan_east.cur"
IDC_PAN_SOUTH_EAST      CURSOR    "webkit\\glue\\resources\\pan_south_east.cur"
IDC_PAN_SOUTH           CURSOR    "webkit\\glue\\resources\\pan_south.cur"
IDC_PAN_SOUTH_WEST      CURSOR    "webkit\\glue\\resources\\pan_south_west.cur"
IDC_PAN_WEST            CURSOR    "webkit\\glue\\resources\\pan_west.cur"
IDC_PAN_NORTH_WEST      CURSOR    "webkit\\glue\\resources\\pan_north_west.cur"
