body {
  display:-webkit-box;
  -webkit-box-align:center;
  white-space:nowrap;
  overflow: hidden;
  margin: 0;
  padding:0 6px;
  font: menu;
  color: #062D75;
  text-shadow: #FFFFFF 1px 1px 0px;
  -webkit-user-select:none;
  cursor:default;
}
