body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font: menu;
  text-shadow: #FFFFFF 1px 1px 0px;
  color: #062D75;
}

#main {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(222, 234, 248)), to(rgb(237, 244, 252)));
  padding-top: 3px;
  height:19px;
  overflow:hidden;
}
