// Resources used by the net module.  This rc file is meant to be included by
// the application rc file (e.g., app/chrome_dll.rc).
//
// Paths in this file are relative to SolutionDir (//trunk/chrome/).

#ifdef APSTUDIO_INVOKED
  #error // Don't open in the Visual Studio resource editor!
#endif //APSTUDIO_INVOKED

#include "net\\base\\net_resources.h"

/////////////////////////////////////////////////////////////////////////////
//
// data resources
//

IDR_DIR_HEADER_HTML      BINDATA       "net\\base\\dir_header.html"

// The converted file is generated, so we need to use a path relative to "obj".
IDR_EFFECTIVE_TLD_NAMES  BINDATA       "net\\effective_tld_names_clean.dat"
