body {
	margin-bottom:50px;
}

body, td {
	font-family: Verdana, Cursor;
	font-size: 10px;
	font-weight: bold;
}

a:link,a:visited,a:active {
	color: #444;
}
a:hover {
	color: #FFFFFF;
}

table {
	border-spacing: 1px 1px;
}

table td {
	padding: 3px 0px 3px 0px;
	text-align: center;
}

.Project {
	width: 100px;
}

.LastBuild, .Activity {
	padding: 0 0 0 4px;
}

.LastBuild, .Activity, .Builder, .BuildStep {
  width: 155px;
  max-width: 155px;
}

div.BuildResultInfo {
  color: #444;
}

div.Announcement {
  margin-bottom: 1em;
}

div.Announcement > a:hover {
  color: black;
}

div.Announcement > div.Notice {
  background-color: #afdaff;
  padding: 0.5em;
	font-size: 16px;
  text-align: center;
}

div.Announcement > div.Open {
  border: 3px solid #8fdf5f;
  padding: 0.5em;
	font-size: 16px;
  text-align: center;
}

div.Announcement > div.Closed {
  border: 5px solid #e98080;
  padding: 0.5em;
	font-size: 24px;
  font-weight: bold;
  text-align: center;
}

td.Time {
	color: #000;
	border-bottom: 1px solid #aaa;
	background-color: #eee;
}

td.Activity, td.Change, td.Builder {
	color: #333333;
	background-color: #CCCCCC;
}

td.Change {
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
td.Event {
	color: #777;
	background-color: #ddd;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

td.Activity {
	border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	min-height: 20px;
	padding: 8px 0 8px 0;
}

td.idle, td.waiting, td.offline, td.building {
	border-top-left-radius: 0px;
	-webkit-border-top-left-radius: 0px;
}

.LastBuild {
	border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-right-radius: 5px;	
	-webkit-border-top-right-radius: 5px;	
}

/* LastBuild, BuildStep states */
.success {
	color: #FFFFFF;
	background-color: #8fdf5f;
}

.failure {
	color: #FFFFFF;
	background-color: #e98080;
}

.warnings {
	color: #FFFFFF;
	background-color: #ffc343;
}

.exception, td.offline {
	color: #FFFFFF;
	background-color: #e0b0ff;
}

.start,.running, td.building {
	color: #666666;
	background-color: #fffc6c;
}

.start {
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

.closed {
  background-color: #ff0000;
}

.closed .large {
  font-size: 1.5em;
  font-weight: bolder;
}

td.Project a:hover, td.start a:hover {
	color: #000;
}

.mini-box {
  text-align:center;
  height:20px;
  padding:0 2px;
  line-height:0;
  white-space:nowrap;
}

.mini-box a {
  border-radius:0;
  -webkit-border-radius:0;
  display:block;
  width:100%;
  height:20px;
  line-height:20px;
  margin-top:-30px;
}

.mini-closed {
  -box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border:4px solid red;
}