// Resources used by common/*.
//
// Paths in this file are relative to SolutionDir.

#ifdef APSTUDIO_INVOKED
  #error // Don't open in the Visual Studio resource editor!
#endif //APSTUDIO_INVOKED

#include "common\\common_resources.h"

/////////////////////////////////////////////////////////////////////////////
//
// data resources
//

IDR_JSTEMPLATE_JS      BINDATA       "third_party\\jstemplate\\jstemplate_compiled.js"
