// Resources used by webkit/default_plugin.
//
// Paths in this file are relative to SolutionDir.

#ifdef APSTUDIO_INVOKED
  #error // Don't open in the Visual Studio resource editor!
#endif //APSTUDIO_INVOKED

#include <winuser.h>
#include "webkit\\default_plugin\\default_plugin_resources.h"


/////////////////////////////////////////////////////////////////////////////
//
// Dialog template for the plugin installation dialog.
//
IDD_DEFAULT_PLUGIN_INSTALL_DIALOG DIALOGEX 0, 0, 240, 130
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Plug-in Needed"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "",IDB_GET_THE_PLUGIN,32,100,81,14
    PUSHBUTTON      "",IDCANCEL,133,100,74,14
    LTEXT           "",IDC_PLUGIN_INSTALL_CONFIRMATION_LABEL,17,50,204,27
END

/////////////////////////////////////////////////////////////////////////////
//
// Icon used by the default plugin window.
//
IDI_DEFAULT_PLUGIN_ICON            ICON             "webkit\\default_plugin\\default_plugin.ico"
