<ul>
  <li><a href="/apis/o3d/docs/reference/jsdocs/namespaces.html">Modules</a>
    <ul>
      {! var allNamespaces = data.filter(function($){return $.isNamespace}).sort(makeSortby("alias")); !}
      <for each="thisClass" in="allNamespaces">
      <li><a href="/apis/o3d/docs/reference/jsdocs/{+getLinkToClassByAlias(thisClass.alias)+}">{+thisClass.name+}</a></li>
      </for>
    </ul>
  </li>
  <li><a href="/apis/o3d/docs/reference/jsdocs/annotated.html">Classes</a>
    <ul>
      {! var allClasses = data.filter(function($){return !$.isNamespace}).sort(makeSortby("alias")); !}
      <for each="thisClass" in="allClasses">
      <li><a href="/apis/o3d/docs/reference/jsdocs/{+getLinkToClassByAlias(thisClass.alias)+}">{+thisClass.name+}</a></li>
      </for>
    </ul>
  </li>
</ul>

