// Resources used by common/*.
//
// Paths in this file are relative to the current file.

#include "theme_resources.h"

/////////////////////////////////////////////////////////////////////////////
//
// data resources
//

#if defined(GOOGLE_CHROME_BUILD)
IDR_DISTRIBUTOR_LOGO               BINDATA  "distributor_logo.png"
IDR_DISTRIBUTOR_LOGO_LIGHT         BINDATA  "distributor_logo_light.png"
#endif
