// Resources used by common/*.
//
// Paths in this file are relative to current file.

#include "theme_resources.h"

/////////////////////////////////////////////////////////////////////////////
//
// data resources
//

IDR_BACK                           BINDATA  "back.png"
IDR_BACK_D                         BINDATA  "back_d.png"
IDR_BACK_H                         BINDATA  "back_h.png"
IDR_BACK_P                         BINDATA  "back_p.png"
IDR_BOOKMARK_BAR_RECENTLY_BOOKMARKED_ICON  BINDATA  "star_small.png"
IDR_BOOKMARK_BAR_CHEVRONS          BINDATA  "chevron.png"
IDR_CLOSE                          BINDATA  "close.png"
IDR_CLOSE_H                        BINDATA  "close_h.png"
IDR_CLOSE_P                        BINDATA  "close_p.png"
IDR_CONTENT_BOTTOM_CENTER          BINDATA  "content_bottom_center.png"
IDR_CONTENT_BOTTOM_LEFT_CORNER     BINDATA  "content_bottom_left_corner.png"
IDR_CONTENT_BOTTOM_RIGHT_CORNER    BINDATA  "content_bottom_right_corner.png"
IDR_CONTENT_LEFT_SIDE              BINDATA  "content_left_side.png"
IDR_CONTENT_RIGHT_SIDE             BINDATA  "content_right_side.png"
IDR_CONTENT_STAR_D                 BINDATA  "content_star_d.png"
IDR_CONTENT_STAR_OFF               BINDATA  "content_star_off.png"
IDR_CONTENT_STAR_ON                BINDATA  "content_star_on.png"
IDR_CONTENT_TOP_CENTER             BINDATA  "content_top_center.png"
IDR_CONTENT_TOP_LEFT_CORNER        BINDATA  "content_top_left_corner.png"
IDR_CONTENT_TOP_RIGHT_CORNER       BINDATA  "content_top_right_corner.png"
IDR_DEFAULT_FAVICON                BINDATA  "default_favicon.png"
IDR_DROP                           BINDATA  "drop.png"
IDR_DROP_H                         BINDATA  "drop_h.png"
IDR_DROP_P                         BINDATA  "drop_p.png"
IDR_FOLDER_CLOSED                  BINDATA  "folder_closed.png"
IDR_FOLDER_OPEN                    BINDATA  "folder_open.png"
IDR_FORWARD                        BINDATA  "forward.png"
IDR_FORWARD_D                      BINDATA  "forward_d.png"
IDR_FORWARD_H                      BINDATA  "forward_h.png"
IDR_FORWARD_P                      BINDATA  "forward_p.png"
IDR_GO                             BINDATA  "go.png"
IDR_GO_H                           BINDATA  "go_h.png"
IDR_GO_P                           BINDATA  "go_p.png"
IDR_INFO_BUBBLE_CLOSE              BINDATA  "bubble_close.png"
IDR_LOCATIONBG                     BINDATA  "locationbg.png"
IDR_LOCATION_BAR_SELECTED_KEYWORD_BACKGROUND_C  BINDATA  "location_bar_keyword_search_c.png"
IDR_LOCATION_BAR_SELECTED_KEYWORD_BACKGROUND_L  BINDATA  "location_bar_keyword_search_l.png"
IDR_LOCATION_BAR_SELECTED_KEYWORD_BACKGROUND_R  BINDATA  "location_bar_keyword_search_r.png"
IDR_MAXIMIZE                       BINDATA  "maximize.png"
IDR_MAXIMIZE_H                     BINDATA  "maximize_h.png"
IDR_MAXIMIZE_P                     BINDATA  "maximize_p.png"
IDR_MINIMIZE                       BINDATA  "minimize.png"
IDR_MINIMIZE_H                     BINDATA  "minimize_h.png"
IDR_MINIMIZE_P                     BINDATA  "minimize_p.png"
IDR_PLUGIN                         BINDATA  "plugin.png"
IDR_RELOAD                         BINDATA  "reload.png"
IDR_RELOAD_H                       BINDATA  "reload_h.png"
IDR_RELOAD_P                       BINDATA  "reload_p.png"
IDR_STAR                           BINDATA  "star.png"
IDR_STAR_D                         BINDATA  "star_d.png"
IDR_STAR_H                         BINDATA  "star_h.png"
IDR_STAR_P                         BINDATA  "star_p.png"
IDR_STARRED                        BINDATA  "starred.png"
IDR_STARRED_H                      BINDATA  "starred_h.png"
IDR_STARRED_P                      BINDATA  "starred_p.png"
IDR_TAB_ACTIVE_CENTER              BINDATA  "tab_active_center.png"
IDR_TAB_ACTIVE_LEFT                BINDATA  "tab_active_left.png"
IDR_TAB_ACTIVE_RIGHT               BINDATA  "tab_active_right.png"
IDR_TAB_CLOSE                      BINDATA  "tab_close.png"
IDR_TAB_CLOSE_H                    BINDATA  "tab_close_h.png"
IDR_TAB_CLOSE_P                    BINDATA  "tab_close_p.png"
IDR_TAB_INACTIVE_CENTER            BINDATA  "tab_inactive_center.png"
IDR_TAB_INACTIVE_LEFT              BINDATA  "tab_inactive_left.png"
IDR_TAB_INACTIVE_RIGHT             BINDATA  "tab_inactive_right.png"
IDR_TAB_INACTIVE_LEFT_OTR          BINDATA  "tab_inactive_left_otr.png"
IDR_TAB_INACTIVE_CENTER_OTR        BINDATA  "tab_inactive_center_otr.png"
IDR_TAB_INACTIVE_RIGHT_OTR         BINDATA  "tab_inactive_right_otr.png"
IDR_THROBBER                       BINDATA  "throbber.png"
IDR_WINDOW_BOTTOM_CENTER           BINDATA  "window_bottom_center.png"
IDR_WINDOW_BOTTOM_LEFT_CORNER      BINDATA  "window_bottom_left_corner.png"
IDR_WINDOW_BOTTOM_RIGHT_CORNER     BINDATA  "window_bottom_right_corner.png"
IDR_WINDOW_LEFT_SIDE               BINDATA  "window_left_side.png"
IDR_WINDOW_RIGHT_SIDE              BINDATA  "window_right_side.png"
IDR_WINDOW_TOP_CENTER              BINDATA  "window_top_center.png"
IDR_WINDOW_TOP_LEFT_CORNER         BINDATA  "window_top_left_corner.png"
IDR_WINDOW_TOP_RIGHT_CORNER        BINDATA  "window_top_right_corner.png"
IDR_WINDOW_BOTTOM_CENTER_OTR       BINDATA  "window_bottom_center_otr.png"
IDR_WINDOW_BOTTOM_LEFT_CORNER_OTR  BINDATA  "window_bottom_left_corner_otr.png"
IDR_WINDOW_BOTTOM_RIGHT_CORNER_OTR BINDATA  "window_bottom_right_corner_otr.png"
IDR_WINDOW_LEFT_SIDE_OTR           BINDATA  "window_left_side_otr.png"
IDR_WINDOW_RIGHT_SIDE_OTR          BINDATA  "window_right_side_otr.png"
IDR_WINDOW_TOP_CENTER_OTR          BINDATA  "window_top_center_otr.png"
IDR_WINDOW_TOP_LEFT_CORNER_OTR     BINDATA  "window_top_left_corner_otr.png"
IDR_WINDOW_TOP_RIGHT_CORNER_OTR    BINDATA  "window_top_right_corner_otr.png"
IDR_TAB_INACTIVE_CENTER_V          BINDATA  "tab_inactive_center_v.png"
IDR_TAB_INACTIVE_LEFT_V            BINDATA  "tab_inactive_left_v.png"
IDR_TAB_INACTIVE_RIGHT_V           BINDATA  "tab_inactive_right_v.png"
IDR_RESTORE                        BINDATA  "restore.png"
IDR_RESTORE_H                      BINDATA  "restore_h.png"
IDR_RESTORE_P                      BINDATA  "restore_p.png"
IDR_DEWINDOW_BOTTOM_CENTER         BINDATA  "dewindow_bottom_center.png"
IDR_DEWINDOW_BOTTOM_LEFT_CORNER    BINDATA  "dewindow_bottom_left_corner.png"
IDR_DEWINDOW_BOTTOM_RIGHT_CORNER   BINDATA  "dewindow_bottom_right_corner.png"
IDR_DEWINDOW_LEFT_SIDE             BINDATA  "dewindow_left_side.png"
IDR_DEWINDOW_RIGHT_SIDE            BINDATA  "dewindow_right_side.png"
IDR_DEWINDOW_TOP_CENTER            BINDATA  "dewindow_top_center.png"
IDR_DEWINDOW_TOP_LEFT_CORNER       BINDATA  "dewindow_top_left_corner.png"
IDR_DEWINDOW_TOP_RIGHT_CORNER      BINDATA  "dewindow_top_right_corner.png"
IDR_DEWINDOW_BOTTOM_CENTER_OTR     BINDATA  "dewindow_bottom_center_otr.png"
IDR_DEWINDOW_BOTTOM_LEFT_CORNER_OTR BINDATA  "dewindow_bottom_left_corner_otr.png"
IDR_DEWINDOW_BOTTOM_RIGHT_CORNER_OTR BINDATA  "dewindow_bottom_right_corner_otr.png"
IDR_DEWINDOW_LEFT_SIDE_OTR         BINDATA  "dewindow_left_side_otr.png"
IDR_DEWINDOW_RIGHT_SIDE_OTR        BINDATA  "dewindow_right_side_otr.png"
IDR_DEWINDOW_TOP_CENTER_OTR        BINDATA  "dewindow_top_center_otr.png"
IDR_DEWINDOW_TOP_LEFT_CORNER_OTR   BINDATA  "dewindow_top_left_corner_otr.png"
IDR_DEWINDOW_TOP_RIGHT_CORNER_OTR  BINDATA  "dewindow_top_right_corner_otr.png"
IDR_DOWNLOAD_BUTTON_CENTER_BOTTOM BINDATA  "download_button_center_bottom.png"
IDR_DOWNLOAD_BUTTON_CENTER_BOTTOM_H BINDATA  "download_button_center_bottom_h.png"
IDR_DOWNLOAD_BUTTON_CENTER_BOTTOM_P  BINDATA  "download_button_center_bottom_p.png"
IDR_DOWNLOAD_BUTTON_CENTER_MIDDLE  BINDATA  "download_button_center_middle.png"
IDR_DOWNLOAD_BUTTON_CENTER_MIDDLE_H BINDATA  "download_button_center_middle_h.png"
IDR_DOWNLOAD_BUTTON_CENTER_MIDDLE_P BINDATA  "download_button_center_middle_p.png"
IDR_DOWNLOAD_BUTTON_CENTER_TOP     BINDATA  "download_button_center_top.png"
IDR_DOWNLOAD_BUTTON_CENTER_TOP_H   BINDATA  "download_button_center_top_h.png"
IDR_DOWNLOAD_BUTTON_CENTER_TOP_P   BINDATA  "download_button_center_top_p.png"
IDR_DOWNLOAD_BUTTON_LEFT_BOTTOM    BINDATA  "download_button_left_bottom.png"
IDR_DOWNLOAD_BUTTON_LEFT_BOTTOM_H  BINDATA  "download_button_left_bottom_h.png"
IDR_DOWNLOAD_BUTTON_LEFT_BOTTOM_P  BINDATA  "download_button_left_bottom_p.png"
IDR_DOWNLOAD_BUTTON_LEFT_MIDDLE    BINDATA  "download_button_left_middle.png"
IDR_DOWNLOAD_BUTTON_LEFT_MIDDLE_H  BINDATA  "download_button_left_middle_h.png"
IDR_DOWNLOAD_BUTTON_LEFT_MIDDLE_P  BINDATA  "download_button_left_middle_p.png"
IDR_DOWNLOAD_BUTTON_LEFT_TOP       BINDATA  "download_button_left_top.png"
IDR_DOWNLOAD_BUTTON_LEFT_TOP_H     BINDATA  "download_button_left_top_h.png"
IDR_DOWNLOAD_BUTTON_LEFT_TOP_P     BINDATA  "download_button_left_top_p.png"
IDR_DOWNLOAD_BUTTON_MENU_BOTTOM    BINDATA  "download_button_menu_bottom.png"
IDR_DOWNLOAD_BUTTON_MENU_BOTTOM_H  BINDATA  "download_button_menu_bottom_h.png"
IDR_DOWNLOAD_BUTTON_MENU_BOTTOM_P  BINDATA  "download_button_menu_bottom_p.png"
IDR_DOWNLOAD_BUTTON_MENU_MIDDLE    BINDATA  "download_button_menu_middle.png"
IDR_DOWNLOAD_BUTTON_MENU_MIDDLE_H  BINDATA  "download_button_menu_middle_h.png"
IDR_DOWNLOAD_BUTTON_MENU_MIDDLE_P  BINDATA  "download_button_menu_middle_p.png"
IDR_DOWNLOAD_BUTTON_MENU_TOP       BINDATA  "download_button_menu_top.png"
IDR_DOWNLOAD_BUTTON_MENU_TOP_H     BINDATA  "download_button_menu_top_h.png"
IDR_DOWNLOAD_BUTTON_MENU_TOP_P     BINDATA  "download_button_menu_top_p.png"
IDR_DOWNLOAD_BUTTON_RIGHT_BOTTOM   BINDATA  "download_button_right_bottom.png"
IDR_DOWNLOAD_BUTTON_RIGHT_BOTTOM_H BINDATA  "download_button_right_bottom_h.png"
IDR_DOWNLOAD_BUTTON_RIGHT_BOTTOM_P BINDATA  "download_button_right_bottom_p.png"
IDR_DOWNLOAD_BUTTON_RIGHT_BOTTOM_NO_DD BINDATA  "download_button_right_bottom_no_dd.png"
IDR_DOWNLOAD_BUTTON_RIGHT_MIDDLE   BINDATA  "download_button_right_middle.png"
IDR_DOWNLOAD_BUTTON_RIGHT_MIDDLE_H BINDATA  "download_button_right_middle_h.png"
IDR_DOWNLOAD_BUTTON_RIGHT_MIDDLE_P BINDATA  "download_button_right_middle_p.png"
IDR_DOWNLOAD_BUTTON_RIGHT_MIDDLE_NO_DD BINDATA  "download_button_right_middle_no_dd.png"
IDR_DOWNLOAD_BUTTON_RIGHT_TOP      BINDATA  "download_button_right_top.png"
IDR_DOWNLOAD_BUTTON_RIGHT_TOP_H    BINDATA  "download_button_right_top_h.png"
IDR_DOWNLOAD_BUTTON_RIGHT_TOP_P    BINDATA  "download_button_right_top_p.png"
IDR_DOWNLOAD_BUTTON_RIGHT_TOP_NO_DD BINDATA  "download_button_right_top_no_dd.png"
IDR_DOWNLOAD_PROGRESS_BACKGROUND_16 BINDATA  "download_progress_background16.png"
IDR_DOWNLOAD_PROGRESS_FOREGROUND_16 BINDATA  "download_progress_foreground16.png"
IDR_DOWNLOAD_PROGRESS_BACKGROUND_32 BINDATA  "download_progress_background32.png"
IDR_DOWNLOAD_PROGRESS_FOREGROUND_32 BINDATA  "download_progress_foreground32.png"
IDR_DOWNLOAD_ICON                  BINDATA  "download_icon.png"
IDR_CONSTRAINED_BOTTOM_CENTER      BINDATA  "constrained_bottom_center.png"
IDR_CONSTRAINED_BOTTOM_LEFT_CORNER BINDATA  "constrained_bottom_left_corner.png"
IDR_CONSTRAINED_BOTTOM_RIGHT_CORNER BINDATA "constrained_bottom_right_corner.png"
IDR_CONSTRAINED_LEFT_SIDE          BINDATA  "constrained_left_side.png"
IDR_CONSTRAINED_RIGHT_SIDE         BINDATA  "constrained_right_side.png"
IDR_CONSTRAINED_TOP_CENTER         BINDATA  "constrained_top_center.png"
IDR_CONSTRAINED_TOP_LEFT_CORNER    BINDATA  "constrained_top_left_corner.png"
IDR_CONSTRAINED_TOP_RIGHT_CORNER   BINDATA  "constrained_top_right_corner.png"
IDR_FIND_BOX_BACKGROUND            BINDATA  "find_box_bg.png"
IDR_FIND_BOX_BACKGROUND_LEFT       BINDATA  "find_box_bg_left.png"
IDR_FIND_BOX_BACKGROUND_LEFT_RTL   BINDATA  "find_box_bg_left_rtl.png"
IDR_APP_TOP_RIGHT                  BINDATA  "app_top_right.png"
IDR_APP_TOP_CENTER                 BINDATA  "app_top_center.png"
IDR_APP_TOP_LEFT                   BINDATA  "app_top_left.png"
IDR_APP_DROPARROW                  BINDATA  "app_droparrow.png"
IDR_LOCK                           BINDATA  "lock_small.png"
IDR_WARNING                        BINDATA  "alert_small.png"
IDR_THROBBER_01                    ICON     "vista_frame_throbber_01.ico"
IDR_THROBBER_02                    ICON     "vista_frame_throbber_02.ico"
IDR_THROBBER_03                    ICON     "vista_frame_throbber_03.ico"
IDR_THROBBER_04                    ICON     "vista_frame_throbber_04.ico"
IDR_THROBBER_05                    ICON     "vista_frame_throbber_05.ico"
IDR_THROBBER_06                    ICON     "vista_frame_throbber_06.ico"
IDR_THROBBER_07                    ICON     "vista_frame_throbber_07.ico"
IDR_THROBBER_08                    ICON     "vista_frame_throbber_08.ico"
IDR_THROBBER_09                    ICON     "vista_frame_throbber_09.ico"
IDR_THROBBER_10                    ICON     "vista_frame_throbber_10.ico"
IDR_THROBBER_11                    ICON     "vista_frame_throbber_11.ico"
IDR_THROBBER_12                    ICON     "vista_frame_throbber_12.ico"
IDR_THROBBER_13                    ICON     "vista_frame_throbber_13.ico"
IDR_THROBBER_14                    ICON     "vista_frame_throbber_14.ico"
IDR_THROBBER_15                    ICON     "vista_frame_throbber_15.ico"
IDR_THROBBER_16                    ICON     "vista_frame_throbber_16.ico"
IDR_THROBBER_17                    ICON     "vista_frame_throbber_17.ico"
IDR_THROBBER_18                    ICON     "vista_frame_throbber_18.ico"
IDR_THROBBER_19                    ICON     "vista_frame_throbber_19.ico"
IDR_THROBBER_20                    ICON     "vista_frame_throbber_20.ico"
IDR_THROBBER_21                    ICON     "vista_frame_throbber_21.ico"
IDR_THROBBER_22                    ICON     "vista_frame_throbber_22.ico"
IDR_THROBBER_23                    ICON     "vista_frame_throbber_23.ico"
IDR_THROBBER_24                    ICON     "vista_frame_throbber_24.ico"
IDR_STOP                           BINDATA  "stop.png"
IDR_STOP_H                         BINDATA  "stop_h.png"
IDR_STOP_P                         BINDATA  "stop_p.png"
IDR_FIND_DLG_LEFT_BACKGROUND       BINDATA  "find_dlg_left_bg.png"
IDR_FIND_DLG_RIGHT_BACKGROUND      BINDATA  "find_dlg_right_bg.png"
IDR_FIND_DLG_MIDDLE_BACKGROUND     BINDATA  "find_dlg_middle_bg.png"
IDR_PAGEINFO_GOOD                  BINDATA  "pageinfo_good.png"
IDR_PAGEINFO_BAD                   BINDATA  "pageinfo_bad.png"
IDR_NEWTAB_BUTTON                  BINDATA  "newtab.png"
IDR_NEWTAB_BUTTON_H                BINDATA  "newtab_h.png"
IDR_NEWTAB_BUTTON_P                BINDATA  "newtab_p.png"
IDR_ARROW_RIGHT                    BINDATA  "arrow_right.png"
IDR_TEXTBUTTON_TOP_LEFT_H          BINDATA  "textbutton_tl_h.png"
IDR_TEXTBUTTON_TOP_H               BINDATA  "textbutton_t_h.png"
IDR_TEXTBUTTON_TOP_RIGHT_H         BINDATA  "textbutton_tr_h.png"
IDR_TEXTBUTTON_LEFT_H              BINDATA  "textbutton_l_h.png"
IDR_TEXTBUTTON_CENTER_H            BINDATA  "textbutton_c_h.png"
IDR_TEXTBUTTON_RIGHT_H             BINDATA  "textbutton_r_h.png"
IDR_TEXTBUTTON_BOTTOM_LEFT_H       BINDATA  "textbutton_bl_h.png"
IDR_TEXTBUTTON_BOTTOM_H            BINDATA  "textbutton_b_h.png"
IDR_TEXTBUTTON_BOTTOM_RIGHT_H      BINDATA  "textbutton_br_h.png"
IDR_TEXTBUTTON_TOP_LEFT_P          BINDATA  "textbutton_tl_p.png"
IDR_TEXTBUTTON_TOP_P               BINDATA  "textbutton_t_p.png"
IDR_TEXTBUTTON_TOP_RIGHT_P         BINDATA  "textbutton_tr_p.png"
IDR_TEXTBUTTON_LEFT_P              BINDATA  "textbutton_l_p.png"
IDR_TEXTBUTTON_CENTER_P            BINDATA  "textbutton_c_p.png"
IDR_TEXTBUTTON_RIGHT_P             BINDATA  "textbutton_r_p.png"
IDR_TEXTBUTTON_BOTTOM_LEFT_P       BINDATA  "textbutton_bl_p.png"
IDR_TEXTBUTTON_BOTTOM_P            BINDATA  "textbutton_b_p.png"
IDR_TEXTBUTTON_BOTTOM_RIGHT_P      BINDATA  "textbutton_br_p.png"
IDR_SAD_TAB                        BINDATA  "sadtab.png"
IDR_OTR_ICON                       BINDATA  "otr_icon.png"
IDR_CONSTRAINED_BOTTOM_CENTER_V      BINDATA  "constrained_bottom_center_v.png"
IDR_CONSTRAINED_BOTTOM_LEFT_CORNER_V BINDATA  "constrained_bottom_left_corner_v.png"
IDR_CONSTRAINED_BOTTOM_RIGHT_CORNER_V BINDATA "constrained_bottom_right_corner_v.png"
IDR_CONSTRAINED_LEFT_SIDE_V          BINDATA  "constrained_left_side_v.png"
IDR_CONSTRAINED_RIGHT_SIDE_V         BINDATA  "constrained_right_side_v.png"
IDR_CONSTRAINED_TOP_CENTER_V         BINDATA  "constrained_top_center_v.png"
IDR_CONSTRAINED_TOP_LEFT_CORNER_V    BINDATA  "constrained_top_left_corner_v.png"
IDR_CONSTRAINED_TOP_RIGHT_CORNER_V   BINDATA  "constrained_top_right_corner_v.png"
IDR_LOCATION_BAR_KEYWORD_HINT_TAB  BINDATA  "keyword_hint_tab.png"
IDR_SAD_FAVICON                    BINDATA  "sadfavicon.png"
IDR_TAB_DROP_UP                    BINDATA  "tab_drop_up.png"
IDR_TAB_DROP_DOWN                  BINDATA  "tab_drop_down.png"
IDR_FINDINPAGE_PREV                BINDATA  "find_prev.png"
IDR_FINDINPAGE_PREV_H              BINDATA  "find_prev_h.png"
IDR_FINDINPAGE_PREV_P              BINDATA  "find_prev_d.png"
IDR_FINDINPAGE_NEXT                BINDATA  "find_next.png"
IDR_FINDINPAGE_NEXT_H              BINDATA  "find_next_h.png"
IDR_FINDINPAGE_NEXT_P              BINDATA  "find_next_d.png"
IDR_COOKIE_ICON                    BINDATA  "cookie.png"
IDR_INFOBAR_RESTORE_SESSION        BINDATA  "infobar_restore.png"
IDR_INFOBAR_SAVE_PASSWORD          BINDATA  "infobar_savepassword.png"
IDR_INFOBAR_SSL_WARNING            BINDATA  "infobar_insecure.png"
IDR_INFOBAR_ALT_NAV_URL            BINDATA  "infobar_didyoumean.png"
IDR_INFOBAR_PLUGIN_INSTALL         BINDATA  "infobar_plugin.png"
IDR_INFO_BUBBLE_CORNER_TOP_LEFT    BINDATA  "bubble_corner_tl.png"
IDR_INFO_BUBBLE_CORNER_TOP_RIGHT   BINDATA  "bubble_corner_tr.png"
IDR_INFO_BUBBLE_CORNER_BOTTOM_LEFT   BINDATA  "bubble_corner_bl.png"
IDR_INFO_BUBBLE_CORNER_BOTTOM_RIGHT  BINDATA  "bubble_corner_br.png"
IDR_MENU_MARKER                    BINDATA  "menu_marker.png"
IDR_FROZEN_TAB_ICON                BINDATA "frozen_tab.png"
IDR_UPDATE_AVAILABLE               BINDATA "update_available.png"
IDR_MENU_PAGE                      BINDATA "menu_page.png"
IDR_MENU_CHROME                    BINDATA "menu_chrome.png"
IDR_LOCATIONBG_POPUPMODE_LEFT      BINDATA  "locationbg_readonly_left.png"
IDR_LOCATIONBG_POPUPMODE_CENTER    BINDATA  "locationbg_readonly_center.png"
IDR_LOCATIONBG_POPUPMODE_RIGHT     BINDATA  "locationbg_readonly_right.png"
IDR_CLOSE_SA                       BINDATA  "close_sa.png"
IDR_CLOSE_SA_H                     BINDATA  "close_sa_h.png"
IDR_CLOSE_SA_P                     BINDATA  "close_sa_p.png"
IDR_HISTORY_SECTION                BINDATA  "history_section.png"
IDR_DOWNLOADS_SECTION              BINDATA  "downloads_section.png"
IDR_DEFAULT_THUMBNAIL              BINDATA  "default_thumbnail.png"
IDR_THROBBER_WAITING               BINDATA  "throbber_waiting.png"
IDR_INFOBAR_PLUGIN_CRASHED         BINDATA  "infobar_plugin_crashed.png"
IDR_UPDATE_UPTODATE                BINDATA  "update_uptodate.png"
IDR_UPDATE_FAIL                    BINDATA  "update_fail.png"
IDR_CLOSE_BAR                      BINDATA  "close_bar.png"
IDR_CLOSE_BAR_H                    BINDATA  "close_bar_h.png"
IDR_CLOSE_BAR_P                    BINDATA  "close_bar_p.png"
IDR_HOME                           BINDATA  "home.png"
IDR_HOME_H                         BINDATA  "home_h.png"
IDR_HOME_P                         BINDATA  "home_p.png"
IDR_INPUT_GOOD                     BINDATA  "input_good.png"
IDR_INPUT_ALERT                    BINDATA  "input_alert.png"
IDR_HISTORY_FAVICON                BINDATA  "history_favicon.png"
IDR_DOWNLOADS_FAVICON              BINDATA  "downloads_favicon.png"
IDR_MENU_PAGE_RTL                  BINDATA  "menu_page_rtl.png"
IDR_MENU_CHROME_RTL                BINDATA  "menu_chrome_rtl.png"
IDR_DOWNLOAD_ANIMATION_BEGIN       BINDATA  "download_animation_begin.png"
IDR_TAB_HOVER_LEFT                 BINDATA  "tab_hover_left.png"
IDR_TAB_HOVER_CENTER               BINDATA  "tab_hover_center.png"
IDR_TAB_HOVER_RIGHT                BINDATA  "tab_hover_right.png"
IDR_FOLDER_CLOSED_RTL              BINDATA  "folder_closed_rtl.png"
IDR_FOLDER_OPEN_RTL                BINDATA  "folder_open_rtl.png"
IDR_BOOKMARK_BAR_FOLDER            BINDATA  "bookmark_bar_folder.png"
IDR_FIND_DLG_LEFT_BB_BACKGROUND    BINDATA  "find_dlg_left_bb_bg.png"
IDR_FIND_DLG_RIGHT_BB_BACKGROUND   BINDATA  "find_dlg_right_bb_bg.png"
IDR_FIND_DLG_MIDDLE_BB_BACKGROUND  BINDATA  "find_dlg_middle_bb_bg.png"
IDR_THROBBER_LIGHT                 BINDATA  "throbber_light.png"
IDR_OTR_ICON_STANDALONE            BINDATA  "otr_icon_standalone.png"
IDR_BOOKMARK_MANAGER_RECENT_ICON   BINDATA  "bookmark_manager_recent.png"
IDR_BOOKMARK_MANAGER_SEARCH_ICON   BINDATA  "bookmark_manager_search.png"
IDR_MENU_DROPARROW                 BINDATA  "menu_droparrow.png"
